body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1919;
}
.container {
  display: flex;
  flex-direction: column;
  border: 1px solid dimgray;
  align-items: center;
  width: 100%;
  max-width: 320px;
  padding: 16px;
  gap: 25px;
  background-color: black;
}
.calculator-screen input {
  box-sizing: border-box;
  width: 100%;
  border: 3px solid rgb(23, 22, 22);
  font-size: 2.2rem;
  text-align: right;
  padding: 18px;
  margin: 0;
  background-color: rgb(15, 15, 15);
  color: rgb(215, 207, 207);
}
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 11px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}
.buttons button {
  padding: 15px;
  font-weight: 200;
  font-size: 1.8rem;
  background-color: rgb(6, 10, 10);
  color: white;
  border: 1px solid transparent;
}
.buttons button:hover {
  background-color: dimgray;
  border: 1px solid silver;
}
.buttons button.equal-btn {
  grid-column: span 3;
  background-color: darkgoldenrod;
  color: white;
}
.buttons button.equal-btn:hover {
  background-color: goldenrod;
  border: 1px solid white;
}

@media (max-width: 350px) {
  .container {
    padding: 5px;
    gap: 12px;
  }
  .calculator-screen input {
    font-size: 1.5rem;
    padding: 12px;
  }
  .buttons {
    gap: 6px;
  }
  .buttons button {
    padding: 10px 0;
    font-size: 1.3rem;
  }
}
